        :root{
          --base-color:#070f4d;
          --variant:#E87722;
          --text-color:#FFFFFF;
          --secondary-text: #0A1F44;
          --primary-color: #0A1F44;
          --accent-color: #E2AF1D;
        }
        body {
            background-color: #070f4d;
            background-size: cover;
            font-family: 'JetBrains Mono', monospace;
            font-size: 15px;
            margin: 0;
            padding: 0;
            color: var(--text-color);
            text-align: center;
            animation : fadeIn 1s ease-in-out;
            -webkit-animation: fadeIn 1s ease-in-out;
        }
        .lightmode{
          --base-color:#F5F5F5;
          --variant:#C4002F;
          --text-color: #333333;
          --secondary-text: #000000;
          --primary-color: #0A1F44;
          --accent-color: #000000;    
        }
        @keyframes fadeIn {
            from { opacity: 0; }
            to { opacity: 1; }
        }
        @-webkit-keyframes fadeIn {
            from { opacity: 0; }
            to { opacity: 1; }
        }
        @keyframes bounce{
            0% { transform: scale(0.8); opacity: 0; }
            50% { transform: scale(1.1); opacity: 1; }
            100% { transform: scale(1); }
        }
        .container {
            border-radius: 20px;
            max-width: 1580px;
            margin: auto;
            padding: 20px 20px;
            text-align: left;
            transition: transform 0.3s, box-shadow 0.3s; 
    
        }
        .Container{
            border-radius: 20px;
            max-width: 700px;
            margin: auto;
            padding: 20px 20px;
            text-align: left;
            transition: transform 0.3s, box-shadow 0.3s;
        }
        .cursor-glow {
  position: fixed;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background: rgba(0, 200, 255, 0.6);
  border-radius: 50%;
  pointer-events: none;
  mix-blend-mode: screen;
  box-shadow: 0 0 20px 10px rgba(0, 200, 255, 0.5);
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease-out;
  z-index: 9999;
}
        h1{
            margin-top: 10px;
            font-size: 40px;
        }
        h2{
            font-size: 22px;
        }
        b {
            color:#D4AF37;
        }
        .&rarr;{
            color:;
        }
        .profile-img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            margin: 20px;
        }
        .inline-link{
            display: inline-link;
            padding: 10px 20px;
            margin: 10px;
            color: #F4C542;
            text-decoration: none;
            border-radius: 5px;
            font-weight: bold;
            transition : background 0.3s, color 0.3s, font-style 0.3s;
            font-style: normal;
            font-size: 15px;

        }
        .inline-link:hover {
            color: 1A1A40;
            font-style: italic;
            transform : scale(1.05);
            transition: transform 0.3s;
            text-decoration: underline;
            }
            @keyframes pulse {
            from {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
            }
            
            75% {
            -webkit-transform: scale3d(1.05, 1.05, 1.05);
            transform: scale3d(1.05, 1.05, 1.05);
            }
            
            to {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
            }
            }
            .animate__pulse {
            -webkit-animation-name: pulse;
            animation-name: pulse;
            -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
            animation-duration: timeInSecs;
            -webkit-animation-duration: timeInSecs;
            animation-iteration-count: infinite;
            -webkit-animation-iteration-count: infinite;
            }
        .btn {
            background: var(--variant); /* Bright blue */
            color: white;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
            font-weight: bold;
            display: grid;
            display: flex;
            gap: 20px;
            margin: 10px;
            grid-auto-flow: column;
            overflow-x: hidden;
        }
        .btn:hover {
            background: #0F1C2E;
            color: white;
            font-style: italic;
            transform : scale(1.1);
            transition: transform 0.3s;
            scale: 1.1;
             /* animation: @-webkit-keyframes pulse {
            from {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
            }
            
            50% {  */
            -webkit-transform: scale3d(1.05, 1.05, 1.05);
            transform: scale3d(1.05, 1.05, 1.05);
            }
            
            to {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
            }
            @keyframes pulse {
            from {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
            }
            
            50% {
            -webkit-transform: scale3d(1.05, 1.05, 1.05);
            transform: scale3d(1.05, 1.05, 1.05);
            }
            
            to {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
            }
            }
            .animate__pulse {
            -webkit-animation-name: pulse;
            animation-name: pulse;
            -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
            animation-duration: timeInSecs;
            -webkit-animation-duration: timeInSecs;
            animation-iteration-count: infinite;
            -webkit-animation-iteration-count: infinite;
            }
        .GOLD {
            color: #FFD700; /* Gold color */
            color: gold;
        }
        .SILVER {
            color: #C0C0C0; /* Silver color */
            color: silver;
        }
        .BRONZE {
            color: #ef7a00;
            color: bronze;/* Bronze color */
        }
        .Finalist{
            color:cornflowerblue
        }
        .TOP{
            color: #AEC6CF;
        }
        .Rep{
            color: #BF00FF;
        }
        h1{
            color: #EF7C00; /* Orange */
            line-height: 2.5;
        }
        h2, h3 {
            margin-top: 25px;
            color: #EF7C00; /* Orange */
        
        }
        .participant{
            color: rgb(233, 107, 35);
            font-size: 2.5;
        }
        .p {
            color: white;
            margin: 10px 0;
            line-height: 1.5;
            font-size: 15px;
        }
        .Achivement-image {
            width: 50px;
            height: 50px;
            border-radius: 10%;
            margin: 1px;
        }
        .achivement-image {
            width: 70px;
            height: 70px;
            border-radius: 5%;
            margin: 10px;
        }
        .achievements-section {
            background-color: var(--base-color);
            padding: 10px;
            border-radius: 20px;
            border: 5px solid #E87722;
            margin-top: 0px;
            animation: fadeIn 1.5s ease-in-out;
            line-height: 1.5;
            border-image-slice: 1;
            margin-bottom: 25px;
        }

        .achievement-icon{
            opacity: 0;
    letter-spacing: -2px;
    animation: classyFade 1.5s ease-out forwards;
}

@keyframes classyFade {
    0% { opacity: 0; letter-spacing: -2px; }
    100% { opacity: 1; letter-spacing: 1px; }

            
        }
        .Division {
            display: flex;
            flex: 1;
            padding: 10px;

        }
        .shadow {
            animation:  
        }
        .Centerize{
            text-align: center;
            iten-align: center;
        }
        .left{
            tetx-align: left;
        }
        @media (max-width: 768px) {
    .Division {
        flex-direction: column;
        text-align: center;
    }
    .profile-container {
    display: flex; 
    align-items: center; /* Aligns items vertically */
    gap: 20px; /* Adds space between image and text */
}

.profile-pic {
    width: 250px; /* Adjust size as needed */
    height: 400px;
    border-radius: 10%; /* Makes the image circular */
    object-fit:cover; /* Ensures proper image scaling */
}

.profile-data {
    flex: 1; /* Allows text to take remaining space */
}
    .container {
        width: 90%;
        padding: 20px;
    }
    .center{
        text-align: center;
        align-items: center;
    .profile-img {
        width: 100px;
        height: 100px;
    }
    body {
      font-family: 'JetBrains Mono', monospace;
    }
